.list-container {
  max-height: calc(100vh - 65px);
  width: 480px;
  background-color: transparent;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 30;
  -ms-overflow-y: auto;
  overflow-y: auto;

  transition: left 0.3s initial;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: initial;



  article {
    display: block;
    width: 100%;
    color: #FFF;
    transition: background-color 0.3s initial;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: initial;

    &:hover {
      cursor: pointer;
    }

    &:nth-of-type(odd) {
      background-color: rgba(46, 106, 163, .95);
      &:hover {
        background-color: rgba(46, 106, 163, 1);
      }
    }
    &:nth-of-type(even) {
      background-color: rgba(92, 167, 240, .95);
      &:hover {
        background-color: rgba(92, 167, 240, 1);;
      }
    }

    .list-content-container {
      padding: 1rem 1rem 1rem 1rem;
      box-sizing: border-box;
      display: block;
      .list-text {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.2;
        font-size: 1rem;
        display: block;
        a {
          color: #ab0000;
        }
      }

      .list-date {
        display: block;
        font-size: .75rem;
        margin-top: .7rem;
      }
    }
  }
}

.list-hidden {
  left: -480px;
}

.gm-style-iw a {
  color: #1473ca;
}

.gm-svpc,
.gm-style-cc {
  display: none !important;
}